<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="djmorel.bu.edu.ultimatetictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ultimatettt_logo_simple_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ultimatettt_logo_simple"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectGameMode"
            android:screenOrientation="portrait"/>
        <activity android:name=".How2PlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SinglePlayerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MultiplayerActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>